
#tabledata-card{
    padding: 10px;
}
#namefild{
    width: 200px;
}
#desiggnationfild{
    width: 120px;
}

.for-incrise-the-padding-of-data{
    padding: 10.2px;
}
#companyfild{
    width: 120px;
}
#industryfild{
    width: 120px;
}
#email{
    width: 250px;
}
#phonenofild{
    width: 250px;
}
#countryfild{
    width: 80px;
}
#actionfild{
    width: 130px;
}
tbody > tr >td> button{
    background: none;
    border: #FBFBFB;;
}

#dual-tone{
    background: rgba(178, 223, 255, 0.31);
    border-radius: 10px;
}
#dual-tone > tr >td> button{
    /* background-color: rgba(178, 223, 255, 0.31); */
    border:  rgba(178, 223, 255, 0.31);
    background: none;
}
/* #namefild > p,
#desiggnationfild >p ,
 #companyfild > p, 
 #industryfild > p, 
 #email >p, 
 #phonenofild>p ,
 #countryfild >{
padding: 15px;
} */
#namefild > input{
    position: relative;
    left: 15px;
}
#namefild > p{
    position: relative;
    left: 8px;

}
#desiggnationfild >p{
    position: relative;
    right: 15px;
}
#companyfild > p{
    position: relative;
    left: 27px;

}
 #industryfild > p{
    position: relative;
    left: 34px;

 }
 #email >p{
    position: relative;
    left: 46px;
 } 
 #phonenofild>p{
    position: relative;
    left: 67px;
 } 

#actionfild > button{
    position: relative;
    left: 31px;
}
.loader-img{
    position: absolute;
    top:0;
    left:20%;
    width:50px;
}
